* {
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
}

.section__home {
  height: 80vh;
  margin: 5vh 10% 5vh 10%;
  background: #ff9d0a;
  border-radius: 10px;
}

.section__home-title {
  display: inline-block;
  font-size: 2.7rem;
  margin: 5% 0 0 5%;
}

.section__home-body {
  width: 35%;
  margin: 5%;
}

.section__home-body-txt {
  font-size: 1.8rem;
  text-align: justify;
}

/* .section__about-us {
  height: 80vh;
  border-top: 12vh solid white;
  margin: 0 10% 6vh 10%;
  background: #ff9d0a;
  border-radius: 10px;
} */

.container {
  padding-top: 10vh;
}