* {
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
  box-sizing: border-box;
  list-style: none;
}

.section__home {
  position:relative;
  min-height: 100vh;
  padding: 70px 0 0 0;
}

.section__home-title {
  display: inline-block;
  font-size: 2rem;
  padding: 4vw 0 0 5vw;
}

.section__home-body {
  width: auto;
  padding: 3vh 5vw;
}

.section__home-body-txt {
  font-size: 1.3rem;
  text-align: justify;
}

#home {
  background: #fffdef;
}

#about-us {
  background: #f1f1f1;
}

#our-projects {
  background: #fffdef;
}

#contact-us {
  background: #f1f1f1;
}

/* CONTACT STYLES*/

.section__contact-body h3 {
  font-size: 1.8rem;
  padding: 2vh 0 1vh 0;
}

.section__contact-body {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 3vh 5vw;
}

.section__contact-body-info {
  display: flex;
  flex-direction: column;
  padding: 0 10vh 5vh 0
}

/* FORM STYLES */

.section__contact-body-form {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto ;
}

.section__contact-body-form form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}

.section__contact-body-form form p {
margin: 0;
}

.section__contact-body-info li {
  margin: .3vh 0 0 0;
  }

.section__contact-body-form form label {
  margin: .3vh 0 .3vh 0;
  display: block;
}

.section__contact-body-form .full-width {
  grid-column: 1 / 3;
}

.section__contact-body-form form button, .section__contact-body-form form input, .section__contact-body-form form textarea {
  width: 100%;
  padding: .5rem;
  border: none;
  border-radius: 10px;
}

.section__contact-body-form form textarea {
  height: 7rem;
  resize: none;
}

.section__contact-body-form form button {
  color: #fffdef;
  background: #c50000;
  text-transform: uppercase;
}

.section__contact-body-form form button:hover, .section__contact-body-form form button:focus {
  background: #e70000;
  cursor: pointer;
  transition: ease-in-out .2s;
}

@media only screen and (min-width: 768px) {
  .section__home-body {
    width: 35%;
  }
}